.items-main
  = form_with model: @item, local: true do |form|
    = render 'layouts/error_messages', model: form.object
    .items-main__images
      .items-main__images__texts
        .items-main__images__texts__text1 出品画像
        .items-main__images__texts__text2 必須
      .items-main__images__text3 最大10枚までアップロードできます
      
      #image-box
        #previews
          -#ここの部分はもし@itemがデータベースに保存済みだった場合true,そうでなければfalse
          -#コードの意味的にはデータが保存されていたらイメージ画像と削除と編集を表示する
          -#ここの部分は編集画面実装の際に利用する可能性が高い
          - if @item.persisted?
            .test
              - @item.images.each_with_index do |image, i|
                = image_tag image.image.url, data: { index: i }, width: "100", height: '100'
                .js-edit 編集
                .js-remove 削除

        #image-upload
          %p 画像を投稿してください

        #testtest       
          = form.fields_for :images do |image|
            .preview
              .js-file_group{"data-index": "#{image.index}"}
                = image.file_field :image, class: 'js-file'
                %br/
              - if @item.persisted?
                = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
              - if @item.persisted?
                .js-file_group{"data-index": "#{@item.images.count}"}
                  = file_field_tag :image, name: "item[images_attributes][#{@item.images.count}][image]", class: 'js-file'


    .items-main__introduction
      .items-main__introduction__texts
        .items-main__introduction__texts__text1 商品名
        .items-main__introduction__texts__text2 必須
      .items-main__introduction__name
        = form.text_field :item_name, placeholder: "商品名 (必須40文字まで)",id: "productr_name"
      .items-main__introduction__texts2
        .items-main__introduction__texts2__text1 商品の説明
        .items-main__introduction__texts2__text2 必須
      .items-main__introduction__form
        = form.text_area :introduction, placeholder: "商品の説明（必須 1,000文字以内）\n（色、素材、重さ、定価、注意点など）\n\n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。",id: "input",rows: "7"
      .items-main__introduction__count
    .items-main__details
      .items-main__details__text1 商品の詳細
      .items-main__details__texts
        .items-main__details__texts__text2 カテゴリー
        .items-main__details__texts__text3 必須
      .items-main__details__select
        .items-main__details__select__category
        #category_field
          = form.collection_select :category_id, @parents, :id, :name, { include_blank: "---", selected:"" }, id: "category_form"
          %svg.details-category-select{"aria-hidden": "true", fill: "#888888", "fill-rule": "evenodd", height: "24", viewbox: "0 0 24 24", width: "24"}
            %path.detals-category-category{ d: "M12,15.66a1.73,1.73,0,0,1-1.2-.49L5.21,9.54a.7.7,0,0,1,1-1l5.62,5.62c.15.15.27.15.41,0L17.8,8.6a.71.71,0,0,1,1,0,.69.69,0,0,1,0,1l-5.57,5.58A1.71,1.71,0,0,1,12,15.66Z"}
        .items-main__details__select__texts2
          .items-main__details__select__texts2__text4 ブランド
          .items-main__details__select__texts2__text5 任意
        .items-main__details__select__brand
          = form.text_field :brand, class: "brandname-input",placeholder: "例）シャネル"
        .items-main__details__select__texts3
          .items-main__details__select__texts3__text6 商品の状態
          .items-main__details__select__texts3__text7 必須
        .items-main__details__select__condition
          = form.select :condition,Item.conditions.keys,{prompt:"選択してください"}, {class:"select--wrap__default"} 
          %svg.details-condition-select{"aria-hidden": "true", fill: "#888888", "fill-rule": "evenodd", height: "24", viewbox: "0 0 24 24", width: "24"}
            %path.detals-condition-category{ d: "M12,15.66a1.73,1.73,0,0,1-1.2-.49L5.21,9.54a.7.7,0,0,1,1-1l5.62,5.62c.15.15.27.15.41,0L17.8,8.6a.71.71,0,0,1,1,0,.69.69,0,0,1,0,1l-5.57,5.58A1.71,1.71,0,0,1,12,15.66Z"}
    .items-main__delivery
      .items-main__delivery__texts
        %p.items-main__delivery__texts__text1
          配送について
      .items-main__delivery__texts2
        .items-main__delivery__texts2__text2 配送料の負担
        .items-main__delivery__texts2__text3 必須
      .items-main__delivery__select
        .items-main__delivery__select__fee
          = form.select :delivery_fee,Item.delivery_fees.keys,{prompt:"選択してください"}, {class:"select--wrap__default"}
          %svg.delivery-fee-select{"aria-hidden": "true", fill: "#888888", "fill-rule": "evenodd", height: "24", viewbox: "0 0 24 24", width: "24"}
            %path{ d: "M12,15.66a1.73,1.73,0,0,1-1.2-.49L5.21,9.54a.7.7,0,0,1,1-1l5.62,5.62c.15.15.27.15.41,0L17.8,8.6a.71.71,0,0,1,1,0,.69.69,0,0,1,0,1l-5.57,5.58A1.71,1.71,0,0,1,12,15.66Z"}
      .items-main__delivery__texts3
        .items-main__delivery__texts3__text4 発送元の地域
        .items-main__delivery__texts3__text5 必須
      .items-main__delivery__select2
        .items-main__delivery__select2__area
          = form.collection_select(:prefecture_id, Prefecture.all, :id, :name, prompt: "選択してください")
          %svg.delivery-area-select{"aria-hidden": "true", fill: "#888888", "fill-rule": "evenodd", height: "24", viewbox: "0 0 24 24", width: "24"}
            %path{ d: "M12,15.66a1.73,1.73,0,0,1-1.2-.49L5.21,9.54a.7.7,0,0,1,1-1l5.62,5.62c.15.15.27.15.41,0L17.8,8.6a.71.71,0,0,1,1,0,.69.69,0,0,1,0,1l-5.57,5.58A1.71,1.71,0,0,1,12,15.66Z"}
      .items-main__delivery__texts4
        .items-main__delivery__texts4__text6 発送までの日数
        .items-main__delivery__texts4__text7 必須
      .items-main__delivery__select3
        .items-main__delivery__select3__days
          = form.select :day,Item.days.keys,{prompt:"選択してください"}, {class:"select--wrap__default"}
          %svg.delivery-days-select{"aria-hidden": "true", fill: "#888888", "fill-rule": "evenodd", height: "24", viewbox: "0 0 24 24", width: "24"}
            %path{ d: "M12,15.66a1.73,1.73,0,0,1-1.2-.49L5.21,9.54a.7.7,0,0,1,1-1l5.62,5.62c.15.15.27.15.41,0L17.8,8.6a.71.71,0,0,1,1,0,.69.69,0,0,1,0,1l-5.57,5.58A1.71,1.71,0,0,1,12,15.66Z"}
    .items-main__price
      %p.items-main__price__limit
        価格（¥
        / 
        300
        / 
        〜
        / 
        9,999,999
        / 
        ）
      .items-main__price__prices
        .items-main__price__prices__form
          .items-main__price__prices__form__balance{ name: "price"}
            .texts
              .texts__text1 販売価格
              .texts__text2 必須
          %span.items-main__price__prices__form__text3 ¥
          .items-main__price__prices__form__numbers
            .items-main__price__prices__form__numbers__inputarea
              = form.text_field :price, placeholder: "0", type: "number"
        .texts5
          .texts5__text8{"data-test": "fee-label"}
            %div 販売手数料（10%）
          %span.texts5__text9{"data-test": "fee-value"} —
        %hr.texsts-bar/
        .texts6
          .texts6__text10 販売利益
          %span.texts6__text11{"data-test": "total-value"} —
    .items-main__btns
      .items-main__btns__list
        = form.submit :出品する,id: "btn", class: "items-main__btns__list__1"
        %button.items-main__btns__list__2{ tabindex: "0", type: "button"} 下書きに保存
        %a.items-main__btns__list__3{ href: "/"} もどる
      .items-main__btns__attention
        .items-main__btns__attention__form
          %p.items-main__btns__attention__form
            %p
            禁止されている

            = link_to "", class: "attention-text1" do
              行為

            および

            = link_to "", class: "attention-text2" do
              出品物
            
            を必ずご確認ください。

            = link_to "", class: "attention-text3" do
              偽ブランド品
            
            や

            = link_to "", class: "attention-text4" do
              盗品物
            
            などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして

            = link_to "", class: "attention-text5" do
              加盟店規約に同意したことになります。
    