= render partial: "posts/header"
.navbar
  %ul
    %li
      = link_to 'FURIMA'
    %li
      %i.fa.fa-angle-right
    %li
      = link_to 'ベビー・キッズ'
    %li
      %i.fa.fa-angle-right
    %li
      = link_to 'ベビー服(男女兼用)  ~95cm'
    %li
      %i.fa.fa-angle-right
    %li
      = link_to 'アウター'
    %li
      %i.fa.fa-angle-right
    %li
      %p 
        =@item.item_name
.body
  .item
    .item__list
      %h1.item__list-title 
        =@item.item_name
      .item-box
        = image_tag("#{@item.images.first.image}", size: "300x300")
        %ul.item-detail
          %li
          -if @item.images.second
            = image_tag(@item.images.second.image.to_s, size: "147x147")
          %li
          -if @item.images.third
            = image_tag(@item.images.third.image.to_s, size: "147x147")
          %li
          -if @item.images.fourth
            = image_tag(@item.images.fourth.image.to_s, size: "147x147")
      .item-price
        %span
          =@item.price
        .item-price__detail
          %span
            (税込)
          %span
            送料込み
      %ul.item-btn
        -if user_signed_in? && current_user.id == @item.user_id
          %li
            = link_to edit_item_path(@item.id), class: "item-btn_edit" do
              商品の編集
          %li
            = link_to item_path(@item.id), method: :delete, class: "item-btn_delete" do
              この商品を削除する
        -else
          %li
            = link_to user_session_path, class: "item-btn_buy" do
              購入画面に進む
      .item-review 
        =@item.introduction
      .table
        %table
          %tbody
            %tr
              %th 出品者
              %td 
                = @item.user.name
            %tr
              %th カテゴリー
              %td
                -# = @parent.name
                -# = @grandchild.name
                -# = @child.name
             
                %br/
            %tr
              %th ブランド
              %td
                =@item.brand
            %tr
              %th 商品のサイズ
              %td
            %tr
              %th 商品の状態
              %td 
                =@item.condition
            %tr
              %th 配送料の負担
              %td 
                =@item.delivery_fee
            %tr
              %th 発送元の地域
              %td
                = link_to @item.prefecture.name
            %tr
              %th 発送日の目安
              %td 
                =@item.day
      .option
        %ul
          %li.option__left
            %i.fa.fa-star 
            = link_to "お気に入り 0"
        %ul
          %li.option__right
            %i.fa.fa-flag 
            = link_to "不適切な商品の通報"
    .item__comment
      %textarea{:cols => "70", :rows => "4"}
      %p.item__notice
        相手のことを考え丁寧なコメントを心がけましょう。
        %br/
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %button.item__comment-btn{:name => "button", :type => "submit"}
        %i.fa.fa-comment
        コメントする
    %ul.item__links
      %ul.item__links-list
        %li
          = link_to '< 前の商品'
        %li
          = link_to '後ろの商品 >'
      .item__return
        = link_to 'ベビー・キッズをもっと見る'
.banner
  .banner__img
    .banner-content
      %h1.banner-content__title だれでもかんたん、人生を変えるフリマアプリ
      %p.banner-content__text 今すぐ無料ダウンロード！
      .banner-btn
        = link_to image_tag("download-on-app-store.png", class:"banner-btn__A")
        = link_to image_tag("download-on-google.png", class:"banner-btn__B")
= render partial: "posts/footer"
