%body
  %header.login__header
    = link_to image_tag("logo.png", class:"loginHeader__title-img"), "/"
  .login__main
    .login__main__panel
      .login__main__no-account
        %p.list-text1 アカウントをお持ちでない方はこちら
        = link_to "新規会員登録", signup_index_path, class: "signup__button"
      .form-inner
        %i.fab.fa-google.fa-lg.btn-black
        = link_to " googleでログイン", "/" , class: "google--btn"
        %i.fab.fa-facebook-square.fa-lg.btn-white1
        = link_to "Facebookでログイン", "/" , class: "facebook--btn"
        %i.fab.fa-apple.fa-lg.btn-white2
        = link_to "appleでログイン", "/" , class: "apple--btn"
      .form-group
        %input.form-group__email{name: "email", placeholder: "メールアドレス", type: "email", value: ""}/
        %input.form-group__pass{name: "password", placeholder: "パスワード", type: "password"}/
        %input.form-group__btn{type: "submit", value: "ログイン"}/
  %footer.login-footer
    %ul.login-nuv
      %li プライバシーポリシー
      %li フリマ利用規約
      %li 特定商取引に関する表記
    = link_to image_tag("logo-white.png", class:"loginFooter__title-img"), "/"
