%header
  .mainHeader
    .mainHeader__title
      = link_to image_tag("logo.png", class:"mainHeader__title-img"), "/"
      .searchBox
        %input.searchBox-input{ id: "", name: "", placeholder: "キーワードから探す"}
        %button.searchBox__btn{ type: "submit"}
          .searchBox__btn-icon
            = link_to image_tag("icon-search.png", class:"searchBox__btn-icon-img")
    .lists
      %ul.lists__left
        %li
          = link_to "", class: "lists__left-category" do
            カテゴリー
        %li.lists__left-brand
          = link_to "", class: "lists__left-brand" do
            ブランド
      %ul.lists__right
        %li
          = link_to login_index_path, class: "lists__right-login" do
            ログイン
        %li
          = link_to signup_index_path, class: "lists__right-new" do
            新規会員登録