%header
  .mainHeader
    .mainHeader__title
      = link_to image_tag("logo.png", class:"mainHeader__title-img"), "/"
      .searchBox
        %input.searchBox-input{ id: "", name: "", placeholder: "キーワードから探す"}
        %button.searchBox__btn{ type: "submit"}
          .searchBox__btn-icon
            = link_to image_tag("icon-search.png", class:"searchBox__btn-icon-img")
    .lists
      %ul.lists__left
        %li
          = link_to "", class: "lists__left-category" do
            カテゴリー
          -# - @parents.each do |parent|
          -#   =parent.name
          -#   .child
          -#     - parent.children.each do |child|
          -#       =child.name
          -#       .grandchild
          -#         - child.children.each do |grandchild|
          -#           =grandchild.name
        %li.lists__left-brand
          = link_to "", class: "lists__left-brand" do
            ブランド
      %ul.lists__right
        - if user_signed_in?
          %li
            = link_to mypages_path, class: "lists__right-login" do
              マイページ
          %li
            = link_to destroy_user_session_path, method: :delete, class: "lists__right-new" do
              ログアウト
        - else
          %li
            = link_to user_session_path, class: "lists__right-login" do
              ログイン
          %li
            = link_to new_user_registration_path, class: "lists__right-new" do
              新規会員登録

    