<header>
  <div class="mainHeader">
    <div class="mainHeader__title">
      <%= link_to image_tag("logo.png", class:"mainHeader__title-img"), "/" %>
      <div class="searchBox">
        <input class="searchBox-input" id="" name="" placeholder="キーワードから探す">
        <button class="searchBox__btn" type="submit">
          <div class="searchBox__btn-icon">
            <%= link_to image_tag("icon-search.png", class:"searchBox__btn-icon-img")%>
          </div>
        </button>
      </div>
    </div>
    <div class="lists">
      <ul class="lists__left">
        <li>
        <a class="lists__left-category" href="#">カテゴリー</a>
        </li>
        <li class="lists__left-brand">
        <a class="lists__left-brand"  href="#">ブランド</a>
        </li>
      </ul>
      <ul class="lists__right">
        <li>
        <a class="lists__right-login" href="#">ログイン</a>
        </li>
        <li>
        <a class="lists__right-new" href="#">新規会員登録</a>
        </li>
      </ul>
      
    </div>
  </div>
</header>

<div class="main">
  <div class="main__img">
    <div class="main-content">
      <h1 class="main-content__title">人生を変えるフリマアプリ</h1>
      <p class="main-content__text">
      FURIMAはだれでもかんたんに出品・購入できる
      <br>
      フリマアプリです
      </p>
      <div class="main-btn">
        <%= link_to image_tag("download-on-app-store.png", class:"main-btn__A")%>
        <%= link_to image_tag("download-on-google.png", class:"main-btn__B")%>
      </div>
    </div>
  </div>
  <div class="main-introduction">
    <h2 class="main-introduction__title">FURIMAが選ばれる3つの理由</h2>
    <ul class="main-introduction__lists">
        <li class="main-introduction__list">
          <%= link_to image_tag("pict-reason-01.jpg", class:"main-introduction__list-img")%>
          <h1 class="main-introduction__list-number">1</h1>
          <h2 class="main-introduction__list-text">
            <span>3分</span>
            ですぐに出品
          </h2>
          <p class="main-introduction__list-text1">スマホで入力するだけで簡単に出品できる！</p>
        </li>
        <li class="main-introduction__list">
          <%= link_to image_tag("pict-reason-02.jpg", class:"main-introduction__list-img")%>
          <h1 class="main-introduction__list-number">2</h1>
          <h2 class="main-introduction__list-text">
            <span>シンプル</span>
            で使いやすい
          </h2>
          <p class="main-introduction__list-text1">めんどくさい入力は必要なく、検索も購入もスムーズ！</p>
        </li>
        <li class="main-introduction__list">
          <%= link_to image_tag("pict-reason-03.jpg", class:"main-introduction__list-img")%>
          <h1 class="main-introduction__list-number">3</h1>
          <h2 class="main-introduction__list-text">
            手数料
            <span>業界最安</span>
          </h2>
          <p class="main-introduction__list-text2">最大3%でお得に出品&購入！</p>
        </li>
      </ul>
  </div>
  <div class="middle">
    <div class="middle__img">
      <div class="middle-content">
        <h1 class="middle-content__title">会員数日本一位</h1>
        <p class="middle-content__text">
        FURIMAは、フリマアプリで最も人気。
        <br>
        出品・購入回数も業界最多です！
        <br>
        欲しかったあの商品にであるかもしれません。
        </p>
        <div class="middle-btn">
          <%= link_to image_tag("download-on-app-store.png", class:"main-btn__A")%>
          <%= link_to image_tag("download-on-google.png", class:"main-btn__B")%>
        </div>
      </div>
    </div>
  </div>
  <div class="main-introduction">
    <h2 class="main-introduction__title">FURIMAの特徴</h2>
    <ul class="main-introduction__lists">
        <li class="main-introduction__list">
          <%= link_to image_tag("icon-01.png", class:"main-introduction__list-img2")%>
          <h2 class="main-introduction__list-text3">
            簡単に売り買いできる
          </h2>
          <p class="main-introduction__list-text4">スマホひとつで、いつでもどこでも簡単に出品・購入が可能！</p>
        </li>
        <li class="main-introduction__list">
          <%= link_to image_tag("icon-03.png", class:"main-introduction__list-img2")%>
          <h2 class="main-introduction__list-text3">
            売上金は即日振込みに対応
          </h2>
          <p class="main-introduction__list-text4">午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!</p>
        </li>
        <li class="main-introduction__list">
          <%= link_to image_tag("icon-04.png", class:"main-introduction__list-img2")%>
          <h2 class="main-introduction__list-text3">
            様々な支払いに対応
          </h2>
          <p class="main-introduction__list-text4">お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。</p>
        </li>
      </ul>
  </div>
  <div class="product">
    <h1 class="product__head">ピックアップカテゴリー</h1>
    <div class="product__body">
      <h2 class="product__body-title">新規投稿商品</h2>
      <div class="product__list">
        <div class="product__list-img">
          <img src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png">
        </div>
        <div class="product__list__detail">
          <h3 class="product__list__detail-name">product3</h3>
          <ul class="product__list__detail-price">
            <li>30000円</li>
            <li><i class="fa fa-star likeIcon"></i> 0</li>
          </ul>
          <p class="product__list__detail-tax">(税込)</p>
        </div>
      </div>
      <div class="product__list">
        <div class="product__list-img">
          <img src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png">
        </div>
        <div class="product__list__detail">
          <h3 class="product__list__detail-name">product3</h3>
          <ul class="product__list__detail-price">
            <li>30000円</li>
            <li><i class="fa fa-star likeIcon"></i> 0</li>
          </ul>
          <p class="product__list__detail-tax">(税込)</p>
        </div>
      </div>
      <div class="product__list">
        <div class="product__list-img">
          <img src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png">
        </div>
        <div class="product__list__detail">
          <h3 class="product__list__detail-name">product3</h3>
          <ul class="product__list__detail-price">
            <li>30000円</li>
            <li><i class="fa fa-star likeIcon"></i> 0</li>
          </ul>
          <p class="product__list__detail-tax">(税込)</p>
        </div>
      </div>
    </div>
  </div>
  <div class="product">
    <h1 class="product__head">ピックアップブランド</h1>
    <div class="product__body">
      <h2 class="product__body-title">アーカイバ</h2>
      <div class="product__list">
        <div class="product__list-img">
          <img src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png">
        </div>
        <div class="product__list__detail">
          <h3 class="product__list__detail-name">product3</h3>
          <ul class="product__list__detail-price">
            <li>30000円</li>
            <li><i class="fa fa-star likeIcon"></i> 0</li>
          </ul>
          <p class="product__list__detail-tax">(税込)</p>
        </div>
      </div>
      <div class="product__list">
        <div class="product__list-img">
          <img src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png">
        </div>
        <div class="product__list__detail">
          <h3 class="product__list__detail-name">product3</h3>
          <ul class="product__list__detail-price">
            <li>30000円</li>
            <li><i class="fa fa-star likeIcon"></i> 0</li>
          </ul>
          <p class="product__list__detail-tax">(税込)</p>
        </div>
      </div>
      <div class="product__list">
        <div class="product__list-img">
          <img src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png">
        </div>
        <div class="product__list__detail">
          <h3 class="product__list__detail-name">product3</h3>
          <ul class="product__list__detail-price">
            <li>30000円</li>
            <li><i class="fa fa-star likeIcon"></i> 0</li>
          </ul>
          <p class="product__list__detail-tax">(税込)</p>
        </div>
      </div>
    </div>
  </div>
  <div class="banner">
    <div class="banner__img">
      <div class="banner-content">
        <h1 class="banner-content__title">だれでもかんたん、人生を変えるフリマアプリ</h1>
        <p class="banner-content__text">
        今すぐ無料ダウンロード！
        </p>
        <div class="banner-btn">
          <%= link_to image_tag("download-on-app-store.png", class:"main-btn__A")%>
          <%= link_to image_tag("download-on-google.png", class:"main-btn__B")%>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <ul class="contents">
      <li class="contents__list">
        <h1 class="contents__list-title">FURIMAについて</h1>
        <ul>
          <li>
          <a href="#">会社概要（運営会社）</a>
          </li>
          <li>
          <a href="#">プライバシーポリシー</a>
          </li>
          <li>
          <a href="#">FURIMA利用規約</a>
          </li>
          <li>
          <a href="#">ポイントに関する特約</a>
          </li>
        </ul>
      </li>
      <li class="contents__list">
        <h1 class="contents__list-title">FURIMAについて</h1>
        <ul>
          <li>
          <a href="#">カテゴリー一覧</a>
          </li>
          <li>
          <a href="#">ブランド一覧</a>
          </li>
        </ul>
      </li>
      <li class="contents__list">
        <h1 class="contents__list-title">FURIMAについて</h1>
        <ul>
          <li>
          <a href="#">FURIMAFURIMAガイド</a>
          </li>
          <li>
          <a href="#">FURIMAFURIMAロゴ利用ガイドライン</a>
          </li>
          <li>
          <a href="#">お知らせ</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="footer-logo">
      <%= link_to image_tag("logo-white.png", class:"footer-logo__img")%>
      <p class="footer-logo__copy">© FURIMA</p>
    </div>
    <div class="purchase">
      <%= link_to image_tag("icon_camera.png", class:"purchase__img")%>
    </div>
  </footer>
</div>

